th {
  background-color: #B784A7;
  color: #ffffff;
}

a:link {
  color: chocolate;
}

a:hover {
  color:chartreuse;
  cursor: help;
}

a:active {
  color: crimson;
}

td {
  background-color: black
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Times New Roman', Times, serif
}